body, body * {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

video, img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
}

img {
    object-fit: contain;
}