body, body * {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', arial;
    color: #ffffff;
}

body {
    background-color: #1a1a1a;
}





#content {
    margin: 2rem auto;
    width: 80%;
}
#content * {
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
}

#content > h2 {
    text-align: center;
}

#content > ul {
    margin-left: 2.5rem;
    list-style-type: square;
}





/* Edit Scrollbar */
/* Width */
::-webkit-scrollbar {
    width: 1rem;
}
/* Track */
::-webkit-scrollbar-track {
    background: #0a0a0a;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #353535;
}
/* Handle On Hover */
::-webkit-scrollbar-thumb:hover {
    background: #333333;
}



/* Remove Input Outlines */
input:focus, button:focus, textarea:focus, select:focus {
    outline: none;
}



/* Disable Number Input Arrows */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}