<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/add-obs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Fusive App</title>
</head>
<body onload="handleLoad()">
    <a href="index.html">
        <div id="return-button">
            <svg width=40 height=60>
                <polyline points="25,15 10,30 25,45"/>
            </svg>
        </div>
    </a>

    <div id="content">
        <h2>Adding The Plugin To OBS</h2>
        <br/><br/><br/>
        <p>Copy this code and paste it to the url section of the browser source in OBS:</p>
        <div id="file-url-container">
            <p id="file-url">loading...</p><button id="file-button">COPY</button>
        </div>
    </div>

    <script src="../js/add-obs.js"></script>
</body>
</html>