<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/asset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Fusive App: Edit Asset</title>
</head>
<body onload="handleLoad()">
    <div id="alert"></div>
    <form id="asset-form">
        <div id="asset-file">
            <input type="file" id="asset-file-input" accept=".mp4, .jpg, .png, .gif, .mp3" title="Drop a file here">
            <h3 id="asset-file-logs">Drag and drop or select a file</h3>
        </div>
        <div id="asset-text">
            <h2>Text to read:</h2>
            <textarea id="asset-text-area" maxlength="200" autocomplete="off" spellcheck="false" placeholder="Time to hydrate..."></textarea>
            <p id="asset-text-count">0 / 200</p>
        </div>
        <div id="asset-options">
            <div id="asset-title" class="asset-option">
                <label>Channel Points Title:</label>
                <input type="text" id="asset-title-input" maxlength="70" placeholder="The name of the channel points reward">
            </div>
            <div id="asset-volume" class="asset-option">
                <label>Volume:</label>
                <input type="number" id="asset-volume-input" maxlength="70" min="0" max="100" placeholder="The volume of the video/audio">
            </div>
            <div id="asset-duration" class="asset-option">
                <label>Duration:</label>
                <input type="number" id="asset-duration-input" maxlength="70" min="0" placeholder="The seconds the asset will be displayed">
            </div>
            <div id="asset-voice" class="asset-option">
                <label>Voice:</label>
                <select id="asset-voice-input"></select>
            </div>
            <div id="asset-user-text" class="asset-option">
                <label id="asset-user-text-label">
                    User Text:
                    <span id="asset-user-text-tooltip">If in the channel points the user can set the text</span>
                </label>
                <select id="asset-user-text-input">
                    <option value="true">True</option>
                    <option value="false" selected>False</option>
                </select>
            </div>
            <div id="asset-save">
                <button id="asset-save-button">Save</button>
            </div>
        </div>
    </form>

    <script src="../js/edit-asset.js"></script>
</body>
</html>