body, body * {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', arial;
    color: #ffffff;
}

body {
    background-color: #1a1a1a;
    overflow: hidden;
}





#alert {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    z-index: 3;
    position: absolute;
    left: 2%;
    bottom: -20%;
    opacity: 0;
    min-width: 10rem;
    max-width: 25%;
    background-color: #ffffff;
    color: #1a1a1a;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    transition: .5s;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

#auth-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #1a1a1a;
    transition: .25s;
}
#auth-container > h2 {
    margin: 0;
}
#auth-container > p {
    text-align: center;
    margin: 2.25rem 3rem;
}
#auth-container > button {
    margin: 0;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.6rem 0.6rem;
    background-color: #1dd3b0;
    cursor: pointer;
    transition: .25s;
    width: 18%;
    min-width: 8rem;
    margin: 2.25rem;
}
#auth-container > button:enabled:hover {
    color: #1dd3b0;
    background-color: #ffffff;
}
#auth-container > button:disabled, #auth-container > button[disabled] {
    color: #aaaaaa;
    background-color: #333333;
    cursor: default;
}

#auth-checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
}
.auth-checkbox-container {
    display: block;
    position: relative;
    padding: 0 1.75rem;
    margin: 0.5rem 0;
    cursor: pointer;
}
.auth-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.auth-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background-color: #ffffff;
    transition: .1s ease-in-out;
}
.auth-checkbox-container:hover input ~ .auth-checkbox {
    background-color: #cccccc;
}
.auth-checkbox-container input:checked ~ .auth-checkbox {
    background-color: #1dd3b0;
}
.auth-checkbox-container input:checked:disabled ~ .auth-checkbox {
    background-color: #086375;
}
.auth-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}
.auth-checkbox-container input:checked ~ .auth-checkbox:after {
    display: block;
}
.auth-checkbox-container .auth-checkbox:after {
    left: 0.35rem;
    top: 0.15rem;
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.auth-checkbox-container input:disabled ~ .auth-checkbox:after {
    left: 0.35rem;
    top: 0.15rem;
    width: 5px;
    height: 10px;
    border: solid #aaaaaa;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}





/* Edit Scrollbar */
/* Width */
::-webkit-scrollbar {
    width: 1rem;
}
/* Track */
::-webkit-scrollbar-track {
    background: #0a0a0a;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #353535;
}
/* Handle On Hover */
::-webkit-scrollbar-thumb:hover {
    background: #333333;
}



/* Remove Input Outlines */
input:focus, button:focus, textarea:focus, select:focus {
    outline: none;
}



/* Disable Number Input Arrows */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}